[Unit]
Description=awww animated wallpaper daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/awww-daemon
ExecStartPost=/bin/sh -c 'sleep 5; TARGET="/home/ivory/dotfiles/theming/1010933.webp"; CACHE_FILE="$HOME/.cache/awww/current-wallpaper"; mkdir -p "$(dirname "$CACHE_FILE")"; [ ! -f "$CACHE_FILE" ] || ! cmp -s "$TARGET" "$CACHE_FILE" && /usr/bin/awww clear-cache && /usr/bin/awww img "$TARGET" & cp "$TARGET" "$CACHE_FILE"'

Restart=on-failure

[Install]
WantedBy=default.target
