[Unit]
Description=Waypaper Wallpaper Daemon
After=graphical.target

[Service]
ExecStart=/usr/bin/waypaper --restore
Restart=on-failure
Type=simple

[Install]
WantedBy=default.target

