@define-color surface_container_high {{colors.surface_container_high.default.hex}}; 
@define-color surface_container {{colors.surface_container.default.hex}}; 
@define-color surface_container_highest {{colors.surface_container_highest.default.hex}}; 
@define-color on_surface_variant {{colors.on_surface_variant.default.hex}};
@define-color surface {{colors.surface.default.hex}};
@define-color on_surface {{colors.on_surface.default.hex}}; 
@define-color surface_semitransparent {{colors.surface.default.rgba | set_alpha: 0.955}};
@define-color surface_container_semitransparent {{colors.surface_container.default.rgba | set_alpha: 0.1 }};