# Ignore everything by default
*

# Allow Git to see directories
!*/

# Track this file
!.gitignore

# Track config
!.config/fastfetch/**
!.config/fuzzel/**
!.config/kitty/**
!.config/matugen/**
!.config/niri/**
!.config/swaync/**
!.config/systemd/**
!.config/waybar/**
!.config/waypaper/**
!.config/zed/**
!.config/tinte/**
!.config/wlogout/**
!.config/gtk/**
!.config/vesktop/themes/**
!.config/wlogout/**
