@define-color surface_container_high #262a2e; 
@define-color surface_container #1c2024; 
@define-color surface_container_highest #313539; 
@define-color on_surface_variant #c1c7ce;
@define-color surface #101417;
@define-color on_surface #dfe3e7; 
@define-color surface_semitransparent rgba(16, 20, 23, 0.955);
@define-color surface_container_semitransparent rgba(28, 32, 36, 0.1);