
    @define-color background #19120c;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #372f28;

    @define-color inverse_primary #855318;

    @define-color inverse_surface #efe0d5;

    @define-color on_background #efe0d5;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #4a2800;

    @define-color on_primary_container #ffdcbe;

    @define-color on_primary_fixed #2c1600;

    @define-color on_primary_fixed_variant #693c00;

    @define-color on_secondary #402c18;

    @define-color on_secondary_container #ffdcbe;

    @define-color on_secondary_fixed #291806;

    @define-color on_secondary_fixed_variant #59422c;

    @define-color on_surface #efe0d5;

    @define-color on_surface_variant #d5c3b5;

    @define-color on_tertiary #2a3410;

    @define-color on_tertiary_container #dce8b4;

    @define-color on_tertiary_fixed #161f01;

    @define-color on_tertiary_fixed_variant #414b24;

    @define-color outline #9d8e81;

    @define-color outline_variant #51453a;

    @define-color primary #fcb975;

    @define-color primary_container #693c00;

    @define-color primary_fixed #ffdcbe;

    @define-color primary_fixed_dim #fcb975;

    @define-color scrim #000000;

    @define-color secondary #e1c1a4;

    @define-color secondary_container #59422c;

    @define-color secondary_fixed #ffdcbe;

    @define-color secondary_fixed_dim #e1c1a4;

    @define-color shadow #000000;

    @define-color source_color #a38365;

    @define-color surface #19120c;

    @define-color surface_bright #403830;

    @define-color surface_container #261e18;

    @define-color surface_container_high #302822;

    @define-color surface_container_highest #3c332c;

    @define-color surface_container_low #211a14;

    @define-color surface_container_lowest #130d07;

    @define-color surface_dim #19120c;

    @define-color surface_tint #fcb975;

    @define-color surface_variant #51453a;

    @define-color tertiary #c0cc9a;

    @define-color tertiary_container #414b24;

    @define-color tertiary_fixed #dce8b4;

    @define-color tertiary_fixed_dim #c0cc9a;

