@import "colors.css";
* {
    border: none;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 12px;
    color: @on_surface;
}

window#waybar {
    background: @surface_semitransparent;
    margin: 0;
    padding: 0;
    border-radius: 0px;
}

#clock,
#custom-calendar,
#pulseaudio,
#network,
#tray,
#mpris,
#custom-notification,
#window {
    background: @surface_container_high;
    border-radius: 12px;
    padding: 0 0.7em;
    margin: 0;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#custom-calendar {
    color: @on_surface_variant;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0;
    border-left: 0px;
}
#clock {
    margin-left: 6px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 0;
    padding-right: 0;
    border-right: 0px;
}
#custom-notification {
    margin-right: 4px;
}
