/* Universal Waybar CSS */

@import "colors.css";
* {
    border: none;
    font-family: "Inter";
    font-weight: bold;
    font-size: 12px;
    color: @on_surface;
}

/* Waybar Bar */
window#waybar {
    background: @surface_container;
    margin: 0;
    padding: 0;
    border-radius: 0px;
}

/* Other Modules */
#clock,
#custom-calendar,
#pulseaudio,
#network,
#workspaces,
#tray,
#memory,
#cpu,
#custom-gpu,
#custom-rofi,
#custom-nowplaying,
#mpris,
#custom-notification,
#custom-prev,
#custom-next,
#custom-playpause,
#custom-wlogout {
    background: @surface_container_highest;
    border-radius: 12px;
    padding: 0 0.7em;
    margin: 0;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#custom-todo {
    background: @surface_container_highest;
    color: @on_surface_variant;
    border-radius: 12px;
}

#custom-playpause {
    padding: 0 0.7em;
    margin-right: 2px;
    margin-left: 2px;
}

#custom-next {
    padding: 0 0.7em;
}
#custom-prev {
    padding: 0 0.7em;
    margin-right: 0px;
}

#custom-calendar {
    color: @on_surface_variant;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0;
}
#clock {
    margin-left: 6px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 0;
    padding-right: 0;
}
#custom-notification {
    margin-right: 4px;
}
#memory {
    color: @on_surface_variant;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: transparent;
    margin-right: 8px;
}
#custom-gpu {
    color: @on_surface_variant;
    border-radius: 0px;
    border-left: transparent;
    border-right: transparent;
    margin-right: 0px;
    padding-right: 0;
}
#cpu {
    color: @on_surface_variant;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: transparent;
    margin-right: 0px;
    padding-right: 0;
}
