/* Universal Wofi CSS */
* {
    font-family: "JetBrains Mono";
    color: #fffff0;
    border-color: #fffff0;
    border-radius: 0;
}

#window {
    border: 1px solid;
    background: rgba(0, 0, 0, 1);
}

#scroll {
    border-top: 1px solid;
}

#inner-box {
    padding-top: 2px;
}

#entry {
    border-style: none;
    padding: 2px;
    margin: 0 2px 2px 2px; /* top right bottom left */
}

#entry:selected {
    background: #000000;
    border: 1px solid #303030;
    font-weight: bold;
    outline: none;
}

#input {
    background: #000000;
    border: none;
    font-style: normal;
    padding: 2px;
    margin: 4px;
}

#input:focus {
    background: #000000;
    border-color: #a8a8a8;
    font-style: italic;
}

#img {
    padding: 4px;
    margin-right: 6px;
}
