/* Universal Wofi CSS */
* {
    font-family: "Inter";
    font-weight: bold;
    color: #e6e0e9;
    border-color: #36343b;
    border-radius: 9;
}

#window {
    border: 2px solid #36343b;
    border-radius: 9;
    background: #1d1b20;
}

#scroll {
    border-top: 1px solid;
}

#inner-box {
    padding-top: 2px;
}

#entry {
    border-style: none;
    padding: 2px;
    margin: 0 2px 2px 2px; /* top right bottom left */
}

#entry:selected {
    background: #36343b;
    border: 1px solid #303030;
    font-weight: bold;
    outline: none;
}

#input {
    background: #1d1b20;
    border: none;
    font-style: normal;
    padding: 2px;
    margin: 4px;
}

#input:focus {
    background: #36343b;
    border-color: #a8a8a8;
    font-style: italic;
}

#img {
    padding: 4px;
    margin-right: 6px;
}
