include "colors.kdl"
include "autostart.kdl"
include "inputs.kdl"
include "monitors.kdl"
include "appearance.kdl"

include "windowrules.kdl"
include "binds.kdl"

//========================
// Screenshots
//========================
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.pn,˙• g"
