:root { 
        --background: #0e1513;

        --error: #ffb4ab;

        --error_container: #93000a;

        --inverse_on_surface: #2b3230;

        --inverse_primary: #056b5b;

        --inverse_surface: #dee4e0;

        --on_background: #dee4e0;

        --on_error: #690005;

        --on_error_container: #ffdad6;

        --on_primary: #00382f;

        --on_primary_container: #a0f2de;

        --on_primary_fixed: #00201a;

        --on_primary_fixed_variant: #005144;

        --on_secondary: #1d352f;

        --on_secondary_container: #cde8e0;

        --on_secondary_fixed: #06201b;

        --on_secondary_fixed_variant: #334b45;

        --on_surface: #dee4e0;

        --on_surface_variant: #bec9c5;

        --on_tertiary: #113348;

        --on_tertiary_container: #c8e6ff;

        --on_tertiary_fixed: #001e2f;

        --on_tertiary_fixed_variant: #2b4a5f;

        --outline: #89938f;

        --outline_variant: #3f4946;

        --primary: #84d6c2;

        --primary_container: #005144;

        --primary_fixed: #a0f2de;

        --primary_fixed_dim: #84d6c2;

        --scrim: #000000;

        --secondary: #b1ccc4;

        --secondary_container: #334b45;

        --secondary_fixed: #cde8e0;

        --secondary_fixed_dim: #b1ccc4;

        --shadow: #000000;

        --source_color: #6b7773;

        --surface: #0e1513;

        --surface_bright: #343b38;

        --surface_container: #1b211f;

        --surface_container_high: #252b29;

        --surface_container_highest: #303634;

        --surface_container_low: #171d1b;

        --surface_container_lowest: #090f0e;

        --surface_dim: #0e1513;

        --surface_tint: #84d6c2;

        --surface_variant: #3f4946;

        --tertiary: #abcae4;

        --tertiary_container: #2b4a5f;

        --tertiary_fixed: #c8e6ff;

        --tertiary_fixed_dim: #abcae4;
 }
