:root { 
        --background: #101418;

        --error: #ffb4ab;

        --error_container: #93000a;

        --inverse_on_surface: #2e3135;

        --inverse_primary: #35618e;

        --inverse_surface: #e1e2e8;

        --on_background: #e1e2e8;

        --on_error: #690005;

        --on_error_container: #ffdad6;

        --on_primary: #003257;

        --on_primary_container: #d1e4ff;

        --on_primary_fixed: #001d35;

        --on_primary_fixed_variant: #174974;

        --on_secondary: #253140;

        --on_secondary_container: #d6e4f7;

        --on_secondary_fixed: #0f1c2b;

        --on_secondary_fixed_variant: #3b4858;

        --on_surface: #e1e2e8;

        --on_surface_variant: #c3c7cf;

        --on_tertiary: #3a2948;

        --on_tertiary_container: #f2daff;

        --on_tertiary_fixed: #251432;

        --on_tertiary_fixed_variant: #524060;

        --outline: #8d9199;

        --outline_variant: #42474e;

        --primary: #9fcafd;

        --primary_container: #174974;

        --primary_fixed: #d1e4ff;

        --primary_fixed_dim: #9fcafd;

        --scrim: #000000;

        --secondary: #bac8db;

        --secondary_container: #3b4858;

        --secondary_fixed: #d6e4f7;

        --secondary_fixed_dim: #bac8db;

        --shadow: #000000;

        --source_color: #384f69;

        --surface: #101418;

        --surface_bright: #36393e;

        --surface_container: #1d2024;

        --surface_container_high: #272a2f;

        --surface_container_highest: #32353a;

        --surface_container_low: #191c20;

        --surface_container_lowest: #0b0e13;

        --surface_dim: #101418;

        --surface_tint: #9fcafd;

        --surface_variant: #42474e;

        --tertiary: #d6bee5;

        --tertiary_container: #524060;

        --tertiary_fixed: #f2daff;

        --tertiary_fixed_dim: #d6bee5;
 }
