:root { 
        --background: #19120c;

        --error: #ffb4ab;

        --error_container: #93000a;

        --inverse_on_surface: #372f28;

        --inverse_primary: #855318;

        --inverse_surface: #efe0d5;

        --on_background: #efe0d5;

        --on_error: #690005;

        --on_error_container: #ffdad6;

        --on_primary: #4a2800;

        --on_primary_container: #ffdcbe;

        --on_primary_fixed: #2c1600;

        --on_primary_fixed_variant: #693c00;

        --on_secondary: #402c18;

        --on_secondary_container: #ffdcbe;

        --on_secondary_fixed: #291806;

        --on_secondary_fixed_variant: #59422c;

        --on_surface: #efe0d5;

        --on_surface_variant: #d5c3b5;

        --on_tertiary: #2a3410;

        --on_tertiary_container: #dce8b4;

        --on_tertiary_fixed: #161f01;

        --on_tertiary_fixed_variant: #414b24;

        --outline: #9d8e81;

        --outline_variant: #51453a;

        --primary: #fcb975;

        --primary_container: #693c00;

        --primary_fixed: #ffdcbe;

        --primary_fixed_dim: #fcb975;

        --scrim: #000000;

        --secondary: #e1c1a4;

        --secondary_container: #59422c;

        --secondary_fixed: #ffdcbe;

        --secondary_fixed_dim: #e1c1a4;

        --shadow: #000000;

        --source_color: #a38365;

        --surface: #19120c;

        --surface_bright: #403830;

        --surface_container: #261e18;

        --surface_container_high: #302822;

        --surface_container_highest: #3c332c;

        --surface_container_low: #211a14;

        --surface_container_lowest: #130d07;

        --surface_dim: #19120c;

        --surface_tint: #fcb975;

        --surface_variant: #51453a;

        --tertiary: #c0cc9a;

        --tertiary_container: #414b24;

        --tertiary_fixed: #dce8b4;

        --tertiary_fixed_dim: #c0cc9a;
 }
